/*============================================================ 
 *  Default HTML Elements 
 *============================================================*/
body {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: #838383;
  text-align: center;
}

h1 {
  color: #000;
  font-size: 2.75em; 
  margin: 30px 0;
}

p {
  line-height: 1.75em;
}

a:link, a:visited {
  color: #000; 
  text-decoration: none;
}

a:hover, a:active {
  color: #5db442;
}

/*============================================================ 
 * General Reusable Elements 
 *============================================================*/
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container.wide {
  max-width: 1200px;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 100px 10px;
}

.bg-scanline {
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQYV2NkQAJv3rz5zwjjgzgiIiKMYAEYB8RmROaABAARVA/I/J+uXwAAAABJRU5ErkJggg==) repeat;
}

.btn {
  border: 1px solid #ececec;
  border-radius: 25px;
  padding: 10px 35px;
}

.contact-bar {
  color: #fff;
  background-color: #282828;
  padding: 15px;
  overflow: hidden;
}

.br-shadow {
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

/*============================================================ 
 * Heading Styles (Contact and Navigation)  
 *============================================================*/
.contact-bar a:hover i, .contact-bar a:focus i {
  color: #5db442; 
}

.contact-bar ul, .nav ul {
  list-style-type: none;
}

.contact-bar ul li, .nav ul li {
  float: left;
}

.contact-bar ul li i {
  color: #fff;
  margin: 0 5px;
}

ul.social-media {
  float: left;
}

ul.contact-info {
  float: right; 
}

ul.contact-info li {
  margin-left: 30px;
}

.nav {
  padding: 25px 10px;
  overflow: hidden;
  position: relative;
  z-index: 9999;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
}

span.nav-logo {
  font-size: 2.5em;
  text-transform: uppercase;
  float: left;
}

span.nav-logo a:link, span.nav-logo a:visited {
  color: #838383;
}

span.nav-logo a:hover, span.nav-logo a:active {
  color: #5db442;
}

ul.nav-menu {
  float: right;
}

ul.nav-menu li a {
  line-height: 2.5em;
  margin-left: 25px;
}

ul.nav-menu li a.btn:hover, ul.nav-menu li a.btn:active {
  background-color: #5db442;
  color: #fff;
}

.nav-menu .btn {
  color: #5db442;
  border-color: #5db442;
}

/*============================================================ 
 * Landing Section Styles  
 *============================================================*/
.landing {
  color: #000;
  background-color: #4ca368; 
  padding: 80px 10px 70px 10px; 
}

.landing img {
  max-width: 100%;
  height: auto;
  margin: 30px 0 80px;
}

.landing p:last-child {
  color: #ececec;
}

.landing form {
  margin-bottom: 10px;
}

.landing input {
  padding: 7px 15px;
  border: 1px solid #37804e;
  border-radius: 20px 0 0 20px;
}

.landing button {
  color: #ececec;
  background-color: #37804e;
  border: 1px solid #37804e;
  border-radius: 0 20px 20px 0;
  padding: 7px 10px;
  margin: 0; 
}

.landing button:hover {
  color: #5db442;
  cursor: pointer;
}
/*============================================================ 
 * Community Section Styles  
 *============================================================*/
.community .process {
  background-color: white;
  padding: 80px 160px;
  margin: 15px;
  display: inline-block;
}

.process i {
  display: inline-block;
  margin: 10px;
  color: #5db442;
}

.process div {
  display: inline-block;
  margin: 10px;
  text-align: left;
}

.process h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #5db442;
}

.process ol {
  list-style-type: decimal;
  margin-left: 20px;
}

.process ol li {
  margin: 10px 0;
}

ul.glyphs {
  list-style-type: none;
  margin: 30px auto;
  max-width: 600px;
}

ul.glyphs li {
  display: inline-block;
  float: left;
  width: 33.3333%;
}

ul.glyphs li a {
  display: inline-block;
  color: #5db442;
  border: 1px solid #5bd442;
  border-radius: 100%;
  padding: 20px;
  margin: 10px;
  background-color: white;
  width: 16px;
  height: 16px;
}

ul.glyphs li a:hover, ul.glpyhs li a:active {
  background-color: #5db442;
  color: #fff;
}

/*============================================================ 
 * Price Table Section Styles  
 *============================================================*/
.editions {
  display: inline-block;
  position: relative;
  padding: 20px;
}

.editions p.active {
  color: #fff;
  background-color: #5db442;
}

.editions p.business {
  position: relative;
  border: 1px solid #ececec;
  border-right: none;
  border-radius: 20px 0 0 20px;
  padding: 5px 25px;
  display: inline-block;
}

.editions p.business::after {
  content: "Or";
  text-transform: uppercase;
  position: absolute;
  border: 1px solid #4ca368; 
  background-color: #4ca368;
  border-radius: 50%;
  padding: 0 6px;
  color: #fff;
  font-size: 0.7em;
  z-index: 9999;
  right: -14px;
  top: 4px;
}

.editions p.community {
  border: 1px solid #ececec;
  border-radius: 0 20px 20px 0;
  padding: 5px 25px;
  display: inline-block;
}

ul.packages {
  margin: 30px 0;
}

ul.packages > li {
  width: 30%;
  display: inline-block;
  float: left;
  border: 1px solid #ececec;
  box-sizing: border-box;
  margin: 0 10px;
  position: relative;
}

ul.packages > li h2 {
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 25px 0 60px;
  border-bottom: 1px solid #ececec;
  dispay: inline-block;
}

ul.packages > li .wrapper {
  position: absolute;
  top: 60px;
  left: 33%;
  border: 3px solid #ececec;
  border-radius: 75%;
  display: inline-block;
}

ul.packages > li .wrapper div {
  border: 1px solid #5db442;
  border-radius: 75%;
  padding: 24px 14px; 
  background-color: #fff;
}

ul.packages > li .wrapper h3 span {
  color: #000;
  font-size: 2em;
  font-style: normal;
}

ul.packages > li .wrapper h3 {
  font-size: 0.8em;
  font-style: italic;
}

ul.packages ul.features {
  padding: 70px 0 20px;
}

ul.packages ul.features li {
  margin: 15px 0;
}

ul.packages p {
  margin-bottom: 40px;
}

ul.packages a {
  border: 1px solid #ececec;
  border-radius: 20px;
  padding: 10px 40px;
  color: #838383;
}

ul.packages a:hover, ul.packages a:active {
  background-color: #5db442;
  color: #fff;
}

ul.packages ul.features i.fa-times {
  color: #ff7d7d;
}

ul.packages ul.features i.fa-check-circle {
  color: #5db442;
}

/*============================================================ 
 * Features Section Styles  
 *============================================================*/
.features .card {
  background-color: #fff;
  box-sizing: border-box;
  margin: 12.5px 10px;
  padding: 40px 10px;
  display: inline-block;
  width: 22.5%;
}

.card:hover, .card:active {
  background-color: #5db442;
  color: #fff;
}

.card:hover .card-title i , .card:active .card-title i{
  color: #fff; 
}

.card-title i {
  color: #5db442;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ececec;
  display: inline-block;
}

.card-title h2 {
  text-transform: uppercase;
  font-size: 1.25em;
}

p.card-desc {
  margin: 20px 0;
}

/*============================================================ 
 * Footer Section Styles  
 *============================================================*/
.footer {
  background-color: #efefef;
  text-align: left;
}

.footer .links {
  padding: 50px 0;
  border-bottom: 1px solid #e1e2e3;
}

.links h2 {
  color: #000;
  font-weight: bold;
  margin-bottom: 20px;
}

.links .newsletter {
  margin-right: 40px;
  padding: 0 10px;
  display: inline-block;
  float: left;
  max-width: 33%;
}

.newsletter p {
  margin: 20px 0;
}

.newsletter input {
  border: none;
  width: 60%;
  padding: 15px 20px;
}

.newsletter button {
  background-color: #5db442;
  color: white;
  border: none;
  padding: 15px;
}

.newsletter button:hover {
  color: #838383; 
}

.links ul.sitemap {
  display: inline-block;
}

ul.sitemap > li {
  float: left;   
  margin: 0 35px;
}

ul.sitemap ul.sub-links li {
  line-height: 1.75em;
  margin: 5px 0;
}

ul.sitemap ul.sub-links li a {
  color: #838383;
}

ul.sitemap ul.sub-links li a:hover {
  color: #5db442;
}

.credit {
  padding: 40px 0;
}

.credit span {
  padding-left: 10px;
  font-size: 1.1em;
  line-height: 1.6em;
  text-transform: uppercase;
}

.credit ul {
  padding-right: 10px;
  font-size: 0.8em;
  text-align: right;
  float: right;
}

.credit ul li {
  margin: 5px 0;
}

